body {
	background: #4B9EE4;
	font-family: sans-serif;
	color: #fff;
}
h1{
	font-size: 22px;
	font-weight: 400;
	text-transform: uppercase;
}
iframe {
	width: 100%;
	height: 400px;
	border: 1px dashed #ccc;
}
button {
	padding: 10px;
	background: #a203b5;
	color: #fff;
	font-weight: bold;
	border: none;
	text-transform: uppercase;
	border-radius: 5px;
}
#notification {
	display: none;
	background: red;
	color: #fff;
	padding: 5px;
	border-radius: 3px;
	text-align: center;
}